node_modules
dist
dist-ssr
.vite
.turbo

src-tauri/target
src-tauri/gen

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
*.local
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
.claude/
vite.config.js
vite.config.d.ts

*.pem
